@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1 {
    @apply text-5xl text-heading lg:text-6xl font-bold mb-6;
  }

  .h2 {
    @apply text-3xl text-heading lg:text-4xl font-bold relative mb-16 orange-line;
  }

  .sub-heading {
    @apply text-xl text-sub-heading lg:text-2xl xl:text-3xl font-semibold relative sub-orange-line sm:orange-line;
  }

  .h3 {
    @apply text-lg text-sub-heading lg:text-xl xl:text-2xl font-semibold relative sub-orange-line;
  }
  p,
  h3,
  h4,
  a {
    @apply font-poppins;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-slide {
    animation: slide 20s linear infinite;
    width: max-content;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes pop {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fade {
    animation: fade-in 0.3s ease-out;
  }

  .animate-pop {
    animation: pop 0.3s ease-out;
  }

  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-up {
    animation: fade-up 0.6s ease-out forwards;
  }

  .error-text {
    color: red;
  }
}

@layer utilities {
  .orange-line::after {
    content: "";
    @apply block w-14 h-1 absolute -bottom-4 bg-tertiary rounded-lg;
  }

  .center-orange-line::after {
    @apply left-1/2 -translate-x-1/2;
  }

  .sub-orange-line::after {
    content: "";
    @apply block w-14 h-1 absolute -bottom-3 bg-tertiary rounded-lg;
  }

  .li::before {
    content: "";
    @apply block h-[10px] w-[10px] sm:w-3 sm:h-3 rounded-sm absolute left-1 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-main;
  }
}

.section {
  padding: 0 264px;
}

@media (max-width: 1660px) {
  .section {
    padding: 0 184px;
  }
}

@media (max-width: 1500px) {
  .section {
    padding: 0 128px;
  }
}

@media (max-width: 1440px) {
  .section {
    padding: 0 64px;
  }
}

@media (max-width: 1320px) {
  .section {
    padding: 0 36px;
  }
}

@media (max-width: 1080px) {
  .section {
    padding: 0 16px;
  }
}
