.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 20rem;
  aspect-ratio: 1 / 1;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  animation: float 6s ease-in-out infinite;
  overflow: hidden;
  border: 6px solid #3EB7BB;
}

.floating-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}

.image-wrapper:hover .floating-img {
  transform: scale(1.05);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
