@tailwind base;
@tailwind components;
@tailwind utilities;

.section{
  padding: 0 128px;
}

@media (max-width: 1440px) {
  .section{
    padding: 0 64px;
  }
}

@media (max-width: 1320px) {
  .section{
    padding: 0 36px;
  }
}

@media (max-width: 1080px) {
  .section  {
    padding: 0 16px;
  }
}